@import './editor.css';

:root {
    --neon-blue: #1e88e5;
    --neon-red: #ff0d57;
}

body {
    margin: 0;
}

#main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#left, #right {
    position: relative;
}

#list {
    width: 10%;
    border-right: 1px solid #CCC;
}

#left {
    width: 45%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#left::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
}

#code, #disp {
    width: 100%;
}

#code {
    height: 40%;
    width: 100%;
    background-color: white;
}

#disp-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: #EEE;
    border-top: 1px solid #CCC;
    padding: 50px;
    box-sizing: border-box;
}

#disp {
    max-width: 80%;
    border: 1px solid #CCC;
}

#disp.error {
    background-color: white;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px;
}

/* entry list */

#list {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #EEE;
}

#list .item {
    padding: 5px;
    font-family: 'IBMPlexSans';
    font-size: 18px;
}

#list .item {
    cursor: default;
    border-left: 4px solid #EEE;
}

#list .item:hover {
    background-color: #DDD;
    border-left: 4px solid #DDD;
}

#list .item.active {
    font-weight: bold;
    background-color: rgba(30,136,229,0.1);
    border-left: 4px solid #1e88e5;
}

#list .item.last {
    border-bottom: 1px dashed #BBB;
}

#list .item:first-child {
}

#list #logo {
    position: absolute;
    left: 8px;
    bottom: 5px;
}

/* document viewer */

#left {
    padding: 10px;
    font-family: 'IBMPlexSans';
}

#left .inherit {
    color: #777;
}

#left .inherit::before {
    content: 'Inherits: ';
}

#left a {
    text-decoration: none;
}

#left a,
#left a:visited {
    color: var(--neon-red);
}

#left h1 {
    margin-top: 0px;
    border-bottom: 2px solid black;
}

#left code {
    color: var(--neon-blue);
    background-color: #EEE;
    padding: 0 2px;
    border-radius: 4px;
}
