@import './editor.css';

body {
    margin: 0;
}

#main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#left, #right {
    position: relative;
}

#list {
    width: 10%;
    border-right: 1px solid #CCC;
}

#left {
    width: 40%;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#code, #disp {
    width: 100%;
}

#code {
    height: 40%;
    background-color: white;
}

#disp {
    height: 60%;
    border-top: 1px solid #CCC;
    box-sizing: border-box;
    background-color: #EEE;
}

#disp svg {
    max-height: 90%;
    max-width: 90%;
}

#disp.error {
    background-color: white;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.5;
    align-items: start;
    padding: 5px;
}

/* entry list */

#list {
    display: flex;
    flex-direction: column;
    background-color: #EEE;
}

#list .item {
    padding: 5px;
    font-family: 'IBMPlexSans';
    font-size: 18px;
}

#list .item {
    cursor: default;
    border-left: 4px solid #EEE;
}

#list .item:hover {
    background-color: #DDD;
    border-left: 4px solid #DDD;
}

#list .item.active {
    font-weight: bold;
    background-color: rgba(30,136,229,0.1);
    border-left: 4px solid #1e88e5;
}

#list .item:first-child {
}

/* document viewer */

#left {
    padding: 10px;
    font-family: 'IBMPlexSans';
}

#left .inherit {
    color: #777;
}

#left .inherit::before {
    content: 'Inherits: ';
}

#left a {
    text-decoration: none;
}

#left a,
#left a:visited {
    color: #1e88e5;
}

#left h1 {
    margin-top: 0px;
    border-bottom: 2px solid black;
}

#left code {
    background-color: #EEE;
    padding: 2px;
    border-radius: 4px;
}
