@import './editor.css';

body {
    margin: 0;
}

#main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#left, #right {
    display: flex;
    position: relative;
    flex-direction: column;
}

#left {
    justify-content: space-between;
    width: 50%;
}

#right {
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #EEE;
}

#code, #conv {
    height: 50%;
}

#conv {
    border-top: 1px solid #CCC;
}

#disp {
    width: 80%;
    height: 60%;
}

#disp svg {
    max-height: 80%;
}

/* svg icons */

#icon-bar {
    display: flex;
    gap: 5px;
    margin: 5px;
    position: absolute;
    bottom: 0%;
    right: 0px;
    z-index: 10;
}

svg.icon {
    padding: 3px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #EEE;
    cursor: pointer;
    fill: none;
    stroke: black;
}

svg.icon.fill { 
    fill: #AAA;
}

#copy {
    fill: white;
}

svg.icon:active {
    background-color: #DDD;
}

svg.icon:hover {
    stroke-width: 1.5px;
}
