@import 'fonts.css';

.ibmplex {
    font-family: 'IBMPlexSans', sans-serif;
}

.source-code {
    font-family: 'SourceCodePro', monospace;
}

#inputs.disabled {
    opacity: 0.5;
}

#generate.disabled {
    opacity: 0.5;
}

#editor.disabled {
    opacity: 0.5;
}

#svgout.disabled {
    opacity: 0.5;
}

#svgout .ace_cursor {
    opacity: 0 !important;
}

#editor .ace_gutter {
    background: #f6f6f6;
    border-right: 1px solid #ddd;
}

.cm-editor {
    height: 100%;
}