body {
    margin: 0;
}

svg {
    fill: none;
    stroke: black;
}

#main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#left, #right {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left {
    flex-direction: column;
    width: 50%;
    border-right: 1px solid gray;
}

#right {
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #EEE;
}

#code, #conv {
    height: 50%;
    overflow: scroll;
    scrollbar-width: none;
}

.cm-editor {
    height: 100%;
}

.cm-scroller {
    scrollbar-width: none;
}

#conv {
    border-top: 1px solid gray;
}

#disp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

#disp svg {
    max-height: 80%;
    background-color: white;
}

#stat {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin: 5px;
}

#stat.good {
    background-color: #1e88e5;
}

#stat.bad {
    background-color: #ff0d57;
}

#copy {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 2px;
    margin: 3px;
    z-index: 10;
    border-radius: 5px;
}

#copy svg {
    fill: white;
}

#copy:active svg {
    fill: #DDD;
}

#copy:hover svg {
    stroke-width: 1.3px;
}
