# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
*.py[cod]

# Git local config
.gitattributes

# Fasthtml
.sesskey

# External logs
screenlog.*

# Config / Auth
auth.toml
mail.toml

# base node
/node_modules
/export

# playgen
playgen/system.md
playgen/libs
